[submodule "frontend"]
	path = frontend
	url = https://github.com/ashcha0/line-inspection-terminal-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ashcha0/line-inspection-terminal-backend.git
